[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Celestia
GenericName=Space Simulator
Comment=Explore the Universe in this detailed space simulation
Type=Application
Categories=Education;Science;Astronomy
Exec=celestia %f
Terminal=false
Icon=celestia.png
MimeType=application/x-celestia-script
